# Git
.git
.gitignore
.gitattributes
.github

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Build
build
bin
.gradle
gradle-app.setting
!gradle-wrapper.jar

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Docs
*.md
HELP.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Test
src/test